HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

**/*.log*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.DS_Store
dist/node_modules
# Git 会忽略的文件

dist/.DS_Store
dist/dist
dist/dist-ssr
dist/.eslintcache
dist/
# Local env files
v3-admin-vite-main/*.local
# Logs
dist/logs
v3-admin-vite-main/*.log
dist/npm-debug.log*
dist/yarn-debug.log*
dist/yarn-error.log*
dist/pnpm-debug.log*
dist/lerna-debug.log*
# Editor directories and files
dist/.vscode/*
dist/!.vscode/extensions.json
dist/!.vscode/settings.json
v3-admin-vite-main/!.vscode/*.code-snippets
dist/.idea
v3-admin-vite-main/*.suo
v3-admin-vite-main/*.ntvs*
v3-admin-vite-main/*.njsproj
v3-admin-vite-main/*.sln
v3-admin-vite-main/*.sw?
# Use the PNPM
dist/package-lock.json
dist/yarn.lock
logs/*.log
logs/*.zip
v3-admin-andt-main/node_modules
# Git 会忽略的文件

v3-admin-andt-main/.DS_Store
v3-admin-andt-main/dist
v3-admin-andt-main/dist-ssr
v3-admin-andt-main/.eslintcache
v3-admin-andt-main/
# Local env files
v3-admin-andt-main/*.local
# Logs
v3-admin-andt-main/logs
v3-admin-andt-main/*.log
v3-admin-andt-main/npm-debug.log*
v3-admin-andt-main/yarn-debug.log*
v3-admin-andt-main/yarn-error.log*
v3-admin-andt-main/pnpm-debug.log*
v3-admin-andt-main/lerna-debug.log*
# Editor directories and files
v3-admin-andt-main/.vscode/*
v3-admin-andt-main/!.vscode/extensions.json
v3-admin-andt-main/!.vscode/settings.json
v3-admin-andt-main/!.vscode/*.code-snippets
v3-admin-andt-main/.idea
v3-admin-andt-main/*.suo
v3-admin-andt-main/*.ntvs*
v3-admin-andt-main/*.njsproj
v3-admin-andt-main/*.sln
v3-admin-andt-main/*.sw?
# Use the PNPM
v3-admin-andt-main/package-lock.json
v3-admin-andt-main/yarn.lock