<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cgh.resource.auth.mapper.TbCfgUserMapper">
    <resultMap id="base" type="cn.com.cgh.romantic.pojo.resource.TbCfgUser">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <collection property="tbCfgRoles"
                    select="cn.com.cgh.resource.auth.mapper.TbCfgRoleMapper.queryAllByUserId"
                    column="id"
                    ofType="cn.com.cgh.romantic.pojo.resource.TbCfgRole"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"
        />
    </resultMap>
    <select id="queryOneByUsername" resultMap="base" parameterType="String">
        select id,username,password,gender,status from tb_cfg_user where username = #{username}
    </select>
</mapper>
